section.faq {
	@include light-grey-gradient;
	font-family: $regular;
	
	h1 {
		text-align: center;
		margin-top: 0;
		padding-top: 30px;
		color: $letters-grey;
	}

	div.faq-chat {
		@include outer-container;
		margin-top: 70px;
	    margin-bottom: 90px;
		
		p.question {
			color: $blue;
			font-size: 1.1em;

			span:hover {
				cursor: pointer;
			}

			span.span-question {
				margin-right: 10px;
			}

			span.plus {
				font-size: 1.6em;
    			font-weight: bold;
			}

			span.minus {
				display: none;
				font-size: 1.6em;
    			font-weight: bold;
			}
		}

		p.answer {
			display: none;	
		}	
	}
}




// RESPONSIVE MOBILE
@include media(max-width 740px) {
	section.faq {
		h1 {

		}

		div.faq-chat {
			text-align: center;
			margin-top: 40px;
			p.question {
				span:hover {

				}

				span.span-question {

				}

				span.plus {

				}

				span.minus {

				}
			}

			p.answer {

			}	
		}
	}
}