section.title-and-search {
	background-image: url('https://s3-us-west-2.amazonaws.com/teloarrendamos-static-assets/backgrounds/imagen-retocada-final-aprobada.jpg');
	background-size: 100% 100%;
	text-align: center;
	/* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0 0 0 0;

    div.overlay {
	   	position: absolute;
	    width: 100%;
	    height: 100%;
		background: rgb(35,83,138); /* Old browsers */
		background: -moz-linear-gradient(top,  $grey 20%, transparent 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  $grey 20%,transparent 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  $grey 20%,transparent 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23538a', endColorstr=transparent,GradientType=0 ); /* IE6-9 */

    }

	div.callout {
		padding: 5% 26% 3% 26%;
	}

	form {
		span.twitter-typeahead {
			width: 500px;
		}

		input[type='submit'] {
			background: $blue;
			border: 0;
			padding: 6px 30px;
			color: $white;
		}
	}
}

section.target-customers {
	@include outer-container;
	text-align: center;

	margin: 30px auto;

	div {
		p {
			margin: 40px 0;
		}

		button {
			background: $blue;
			border: 0;
			padding: 12px 60px;
			color: $white;
		}
	}

	div.client {
		@include span-columns(6);	
		padding: 50px;
		font-family: $primary-font;
	}
	div.renter {
		@include span-columns(6);
		padding: 50px;
		border-left: 1px solid black;	
	}
}

section.categories {
	@include outer-container;
	text-align: center;
	h2 {
		margin: 60px 0;
	}

	div.products-container {
		@include outer-container;

		div.product {
			@include span-columns(2.4);

			p {
				margin-top: 30px;
			}
		}
	}
}

section.highlight-products {
	@include outer-container;
	text-align: center;

	h2 {
		margin: 66px 0;
	}

	div.products-container {
		@include outer-container;
		margin-bottom: 30px;
		div.product {
			@include span-columns(4);
			img {
				width: 100%;
				height: 280px;
				margin-bottom: 10px;
			}

			p {
				text-align: left;
			}
		}
	}
}

section.activity {
	@include outer-container;
	text-align: center;
	margin-bottom: 60px;

	h2 {
		margin: 66px 0 30px 0;
	}

	div.stats {
		@include span-columns(4);
		padding: 0 47px; 

		p.number {
			color: $green;
			font-size: 8em;
		}

		p.text {
			font-size: 18px;
			color: $grey;
		}
	}
}