section.how-it-works {
	@include light-grey-gradient;
	font-family: $regular;

	div.titles {
		@include outer-container;
		text-align: center;
		h2.renter {
			@include span-columns(6);
		}
		h2.client {
			@include span-columns(6);
		}
	}

	div.explain-users-plan {
		@include outer-container;
		text-align: center;

		button#renter-tutorial-btn {
			@include span-columns(3);
			@include explain-button;
		}

		div.shake-hands-how-it-works {
			@include span-columns(6);
		}

		button#client-tutorial-btn {
			@include span-columns(3);
			@include explain-button;
		}
	}

	div.overlay-renter {
		display: none;
		padding: 15% 7%;
		//padding: 7% 28%;
		background-color: rgba(1, 1, 1, 0.8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;

    div.close {
    	text-align: right;

    	button#close-btn-renter {
    	    background: red;
    	    color: white;
		    border: 0;
		    border-radius: 5px;
    	}
    }

    div#slider-wrapper-renter {
    	@include outer-container;

    	div.slide {
    		@include span-columns(4);

    		img {
    			width: 100%;
    			height: 265px;
    		}

    		p {
    			color: $light-blue;
    			font-size: 1.3em;
    		}
    	}
    // 	div.slick-list {
    // 		div.slick-track {
    // 			div.slick-slide {
				// 	img {
				// 		width: 100%;
				// 		z-index: 1000;
				// 	}

				// 	p {
				// 		color: $light-blue;
				// 		text-align: center;
				// 		font-size: 1.5em;
				// 	}
    // 			}
    // 		}
    // 	}

  		// ul.slick-dots {
  		// 	li {
  		// 		button:before {
				// 	font-size: 18px;
				// 	color: $light-blue
  		// 		}
  		// 	}
  		// }
    }
	}

	div.overlay-client {
		display: none;
		padding: 15% 7%;
		//padding: 7% 28%;
		background-color: rgba(1, 1, 1, 0.8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;

    div.close {
    	text-align: right;

    	button#close-btn-client {
  	    background: red;
  	    color: white;
		    border: 0;
		    border-radius: 5px;
    	}
    }

    div#slider-wrapper-client {
    	@include outer-container;

    	div.slide {
    		@include span-columns(4);

    		img {
    			width: 100%;
    			height: 265px;
    		}

    		p {
    			color: $light-blue;
    			font-size: 1.3em;
    		}
    	}
    // 	div.slick-list {
    // 		div.slick-track {
    // 			div.slick-slide {
				// 	img {
				// 		width: 100%;
				// 	}

				// 	p {
				// 		color: $light-blue;
				// 		text-align: center;
				// 		font-size: 1.5em;
				// 	}
    // 			}
    // 		}
    // 	}

  		// ul.slick-dots {
  		// 	li {
  		// 		button:before {
				// 	font-size: 18px;
				// 	color: $light-blue
  		// 		}
  		// 	}
  		// }
    }
	}
}







