section.user-dashboard {
	@include grey-gradient;

	table {
		@include table;
	}

	a.new-product-button {
		text-decoration: none;
	    background: $light-blue;
	    padding: 10px;
	    margin-left: 5%;
	    color: white;
	}
}