section.accounts-edit {
	@include light-grey-gradient;

	div.fill-data-alert {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    background: rgba(0, 0, 0, 0.5);
	    height: 100%;
	    z-index: 1000;

		div.text-box {
			border-radius: 5px;
			background: white;
			margin: 20% 30%;
			text-align:center;
			padding: 15px 67px;

			p {
		    color: $letters-grey;
		   	font-family: $regular;
				font-size: 2em;
		    }

			button {
				background: $light-blue;
				border: 0;
			    padding: 9px 35px;
	  			margin-bottom: 17px;
	  			color: white;
			}
		}
	}
	div.wrapper {
		@include outer-container;
		padding-top: 90px;

		div.info-column {
			@include span-columns(7);
			div.account-info {
				@include outer-container;
				margin-bottom: 40px;
				div.profile-image-wrapper {
					@include span-columns(3);
					img {
						background-color: white;
						margin-top: 8px;
	    				margin-right: 65px;
						width: 90px;
						height: 90px;
						border-radius: 100%;
						border: 1px solid $letters-grey;
						padding: 5px;
					}					
				}

				div.info-text {
					@include span-columns(9);
					font-family: $regular;

					p, h3 {
						font-size: 1.5em;
						margin: 0;
					}
				}
			}

			div.edit-profile-button {
				button {
					background: $light-blue;
					border: 0;
					padding: 8px 30px;
					color: $white;
					font-size: 1.2em;
					width: 60%;
				}			
			}

			div.edit-account {
				display: none;
				padding-right: 38%;

				form {
					div.row {
						div.form-group {
							margin: 20px 0;

							input {
								width: 100%;
    							border-radius: 5px;
							}

							input[type="submit"] {
								background-color: $green;
								border: 0;
								height: 40px
							}
						}
					}
				}
			}
		}		

		div.map-column {
			@include span-columns(5);
			div#map {
				height: 400px;
			}
		}
	}
}

@include media(max-width 740px) {
	section.accounts-edit {
		@include light-grey-gradient;

		div.fill-data-alert {			
			div.text-box {				
				p {
			    
			    }

				button {
					
				}
			}
		}
		div.wrapper {
			@include outer-container;
			padding-top: 35px;

			div.info-column {
				@include span-columns(12);
				div.account-info {
					@include outer-container;
					
					div.profile-image-wrapper {
						@include span-columns(0);	
						width: 100%;
						text-align: center;					
						img {
							margin-right: 0;
						}						
					}

					div.info-text {
						@include span-columns(12);	
						text-align: center;					
					}
				}

				div.edit-profile-button {
					margin: 0 15%;
					button {
						width: 100%;
					}				
				}

				div.edit-account {					
					padding-right: 0;

					form {
						margin: 0 15%;						
					}

					div.change-pass {
						margin: 0 15%;
						a {
							button {
								width: 100%;
								border: 0;
								border-radius: 5px;
							}
						}						
					}
				}
			}			

			div.map-column {
				display: none;				
			}
		}
	}	
}