<table>
  <tr>
    <th>Order Id</th>
    <th>Order Items</th>
    <th>Order Total</th>
  </tr>
  <% @orders.each do |order| %>
  <tr>
    <th><%= order.id %></th>
    <th><%= order.order_items.map(&:listing).map(&:title).join(", ") %></th>
    <th><%= order.total %></th>
  </tr>
  <% end %>
</table>