<section class="faq">
	<h1>Preguntas Frecuentes</h1>

	<div class="faq-chat">
		<p class="question"><span class="span-question">¿Cómo me Registro? </span><span class="plus">+</span><span class="minus">-</span></p>
		<p class="answer">¡Fácil! <br>
Solo debes entrar con con tu e-mail y Password o inicia sesión con Facebook.</p>

		<p class="question"><span class="span-question">¿Cómo se manejan los pagos? </span><span class="plus">+</span><span class="minus">-</span></p>
				<p class="answer">Todos los pagos y transferencias a los propietarios se hacen de forma segura en Teloarrendamos a través de Webpay, nuestro procesador de pagos. Mantenemos el pago del arrendatario y pagamos el valor del arriendo menos  la comisión una  vez que el producto es devuelto y marcado completo, normalmente toma alrededor de 72 horas el envió del dinero al arrendatario.</p>

		<p class="question"><span class="span-question">¿Qué precios establezco?</span><span class="plus">+</span><span class="minus">-</span></p>
				<p class="answer">Usted es libre de listar su equipo a cualquier precio que desee, pero recomendamos altamente investigar a los competidores en línea y comparar los precios a las tiendas locales. Como este es un mercado abierto, no recibirá demasiadas solicitudes si su precio es demasiado alto. Si no está seguro de cómo cotizar, comuníquese con nosotros (contacto@teloarrendamos.cl) y estaremos encantados de ayudarle :)</p>

				<p class="question"><span class="span-question">¿Qué impide que el arrendador robe el producto?</span><span class="plus">+</span><span class="minus">-</span></p>
				<p class="answer">Las cosas de cada uno sean económicas o de alto valor deben ser siempre devueltas al arrendador, por lo que el riesgo de robo es natural. Es por eso que hacemos nuestro mejor esfuerzo para asegurar que nuestra comunidad sea evaluada por pares y pre-examinada antes de que cualquier arriendo sea aceptado y entregado en sus manos. En caso de robo, tenemos la información de la tarjeta de crédito del arrendador, la dirección postal, el número de teléfono y la identidad verificada para hacer un seguimiento con las autoridades locales.</p>

		<p class="question"><span class="span-question">¿Puedo arrendar  fuera de Chile? </span><span class="plus">+</span><span class="minus">-</span></p>
				<p class="answer">¡Nop! Aun estamos trabajando en la expansión del modelo para Latino América y esperamos comunicar este desarrollo pronto.</p>

		<p class="question"><span class="span-question">¿Puedo arrendar Drones?</span><span class="plus">+</span><span class="minus">-</span></p>
				<p class="answer">¡Sí! Permitimos a los propietarios arrendar sus equipos, pero no somos responsables de daños o pérdida de drones. Todos los alquileres de aviones no tripulados requieren un depósito de garantía reembolsable para el valor total de reemplazo, devuelto tan pronto como el arriendo se marca completa y el equipo de seguridad devuelto.</p>

		<p class="question"><span class="span-question">¿Cuáles son los valores?</span><span class="plus">+</span><span class="minus">-</span></p>
				<p class="answer">Por el momento no hay cobro alguno por utilizar nuestra plataforma de arriendos , pero cuando existan será comunicado</p>

		<p class="question"><span class="span-question">¿Cómo puedo arrendar un producto?</span><span class="plus">+</span><span class="minus">-</span></p>
		<p class="answer">En primer lugar, debes encontrar lo que  necesitas en nuestro sitio y agregar al carro de arriendo.
Si es aceptado, confirme el arriendo con pago a través de Teloarrendamos.cl
A su recepción, el arrendador aceptará o rechazará la reserva.
Usted Recibira información de contacto para coordinar la recogida y devolución.</p>

		<p class="question"><span class="span-question">¿Es la comunidad segura?</span><span class="plus">+</span><span class="minus">-</span></p>
		<p class="answer">Definitivamente. Nuestra comunidad está formada por personas previamente ya consultadas que entienden el valor del equipo que poseen. Verificamos la identidad de cada nuevo miembro antes de que se apruebe su primer arriendo, requiriendo cargar todos sus datos personales, dirección postal y número de teléfono. Después de cada arriendo exitoso, los miembros son revisados por personas que aparecen en sus perfiles públicos.</p>

		<p class="question"><span class="span-question">¿Dónde se encuentra Teloarrendamos.cl?</span><span class="plus">+</span><span class="minus">-</span></p>
		<p class="answer">¡En todos lados! La comunidad de Teloarrendamos se encuentra en todo Chile, cualquier Chileno o Inmigrante puede inscribirse y unirse a nuestra comunidad. Si no hay ningún producto situado cerca de usted, puede ayudarnos a difundir el movimiento #arriendolocal compartiendo #Teloarrendamos.cl con su comunidad local.</p>

		<p class="question"><span class="span-question">¿Cómo coloco un producto al arriendo?</span><span class="plus">+</span><span class="minus">-</span></p>
		<p class="answer">En primer lugar, debes encontrar lo que  necesitas en nuestro sitio y agregar al carro de arriendo.
Si es aceptado, confirme el arriendo con pago a través de Teloarrendamos.cl
A su recepción, el arrendador aceptará o rechazará la reserva.
Usted Recibira información de contacto para coordinar la recogida y devolución.</p>

		<p class="question"><span class="span-question">¿Qué pasa si rompo o sufre algún daño el producto que arrendé?</span><span class="plus">+</span><span class="minus">-</span></p>
		<p class="answer">Todo producto en  arriendo es de total responsabilidad de quien arrienda, de cualquier robo o daño al producto durante el período de arriendo. Sin embargo, los arrendatarios podrán exigir un deposito extra para asegurar el bienestar de sus productos, el cual será devuelto a quien arrienda al minuto de la devolución y confirmación.</p>

<!-- 		<p class="question"></p>
		<p class="question"><span class="span-question">¿Qué ocurre si devuelvo el producto arrendado fuera de plazo?</span><span class="plus">+</span><span class="minus">-</span></p>
		<p class="answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis cumque harum placeat quisquam velit laudantium commodi repellat fuga neque veritatis, alias laboriosam officia obcaecati, labore possimus vitae, eos iure dignissimos!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem impedit aliquam, architecto quod nihil dolorum nobis ea error sequi sapiente totam magnam ratione vel voluptates quidem tenetur ullam nam doloribus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ipsa perspiciatis debitis accusamus maiores nulla ipsam, sed labore possimus reprehenderit illum quia consequuntur, sit tempora neque voluptatem, aperiam vero nesciunt!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ullam, dicta odit possimus sed consequuntur fugit, aliquid quibusdam error laboriosam alias laudantium? Qui soluta facere quaerat alias sit. Distinctio, in.</p>

		<p class="question"><span class="span-question">¿Si arriendo, cómo obtengo el pago?</span><span class="plus">+</span><span class="minus">-</span></p>
		<p class="answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis cumque harum placeat quisquam velit laudantium commodi repellat fuga neque veritatis, alias laboriosam officia obcaecati, labore possimus vitae, eos iure dignissimos!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem impedit aliquam, architecto quod nihil dolorum nobis ea error sequi sapiente totam magnam ratione vel voluptates quidem tenetur ullam nam doloribus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ipsa perspiciatis debitis accusamus maiores nulla ipsam, sed labore possimus reprehenderit illum quia consequuntur, sit tempora neque voluptatem, aperiam vero nesciunt!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ullam, dicta odit possimus sed consequuntur fugit, aliquid quibusdam error laboriosam alias laudantium? Qui soluta facere quaerat alias sit. Distinctio, in.</p>

		<p class="question"><span class="span-question">¿Qué métodos de pago están disponibles?</span><span class="plus">+</span><span class="minus">-</span></p>
		<p class="answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis cumque harum placeat quisquam velit laudantium commodi repellat fuga neque veritatis, alias laboriosam officia obcaecati, labore possimus vitae, eos iure dignissimos!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem impedit aliquam, architecto quod nihil dolorum nobis ea error sequi sapiente totam magnam ratione vel voluptates quidem tenetur ullam nam doloribus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ipsa perspiciatis debitis accusamus maiores nulla ipsam, sed labore possimus reprehenderit illum quia consequuntur, sit tempora neque voluptatem, aperiam vero nesciunt!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ullam, dicta odit possimus sed consequuntur fugit, aliquid quibusdam error laboriosam alias laudantium? Qui soluta facere quaerat alias sit. Distinctio, in.</p> -->
	</div>
</section>