<section class="policy">
  <h1>Política de daños, robo y pérdidas</h1>

  <p>El arrendador es quien, a través de un contrato de arrendamiento, se obliga a transferir el uso y el goce temporal de una cosa (inmueble o mueble) al arrendatario.
  La obligación del arrendatario, a su vez, es pagar un cierto precio por dicho uso y goce al arrendador.</p>

  <h3>Dañar</h3>
  <p>Cualquier daño ocurrido durante un arriendo es responsabilidad exclusiva de LA PERSONA que arrienda. Si un bien es dañado durante un arriendo, el dueño del bien debe contactar inmediatamente a <span style="color:#00C0FF;">Teloarrendamos.cl</span> para ayudar a la situación y coordinar la reparación.</p>

  <p>Normalmente, Teloarrendamos se dirigirá al arrendador para obtener un presupuesto de reparación de una tienda especializada (tienda de bicicletas, tienda de surf, o del bien que sea), o el arrendador puede obtener las piezas en línea. De cualquier manera, el arrendatario es responsable de pagar el daño.</p>

  <h3>Robo</h3>
  <p>Si un bien es robado, el arrendador debe obtener un informe de la policía. Una vez que el informe policial es adquirido, el arrendador debe ponerse en contacto con <span style="color:#00C0FF;">Teloarrendamos.cl</span>. Trabajaremos con el arrendatario para evaluar los costos de reemplazo. Por lo general, Teloarrendamos.cl  dirigirá al arrendador para obtener una estimación del reemplazo de una tienda especializada (tienda de bicicletas, tienda de surf, o del bien en cuestión), o el arrendatario puede obtener el reemplazo en línea.</p>

  <p>Cuando se compruebe que el arrendatario es responsable de reemplazar el bien, él o ella puede optar por pagar a <span style="color:#00C0FF;">Teloarrendamos.cl</span>   directamente (vía PayPal, transferencia, o Web pay) luego reembolsar al arrendador.</p>

  <h3>Pérdida</h3>
  <p>La pérdida es tratada igual que el daño.</p>


  <h3><span style="color:#00C0FF;">Teloarrendamos.cl</span></h3>

  <p>Teloarrendamos no garantiza la seguridad de sus arriendos contra robo, daño o pérdida, En términos generales, sin embargo tenemos todos los antecedentes de los usuarios , cuenta de Facebook, tarjetas de crédito, dirección, teléfono, etc. En caso de robo, daño o pérdida, su bien es cubierto por el arrendatario como se detalla anteriormente. Sin embargo, si su bien está dañado o robado durante un período de arrendamiento y el arrendatario no puede reembolsarle el valor razonable del bien, acudiremos a términos legales bajo el contrato de arriendo que ampara a ambas partes.</p>
</section>
