<section class="policy">
  <h1>GARANTIAS Y SEGUROS PARA ARRENDAR</h1>

  <p>Todas las reservas son a riesgo del inquilino y usted será responsable de cualquier robo o daño al paseo durante el período de alquiler. Sin embargo, los inquilinos tienen la opción de comprar daños / protección contra robo por una pequeña tarifa diaria en el momento de la confirmación. De esa manera, usted puede disfrutar de la paz de la mente mientras usted viaja!s</p>
</section>
