<section class="que-es">
	<div class="shake-hands">
		<h1>Qué es</h1>
		<div class="que-es-texto">
			<p><span class="brand-name">Teloarrendamos.cl</span> es una plataforma que te permite subir productos para poner en arriendo, o bien buscar productos para arrendar.</p>

			<p>La publicación de productos es gratis, sólo debes registrarte en nuestro sitio web y comenzar a subir productos con fotos, descripción y valor diario.</p>

			<p>Si buscas arrendar un producto, debes registrarte para que el arrendador pueda conocerte y coordinar un punto de encuentro para la entrega del producto. Tu eliges el tiempo que deseas arrendarlo y el pago se realiza a traves de nuestra plataforma. Nosotros cobramos una mínima comisión por servicio, la cual es informada junto al valor total del arriendo, previo al pago online.</p>

			<p>Nos interesa que tus cosas trabajen por ti, mientras no las utilizas o están guardadas en una bodega. Puedes ganar dinero o bien buscar ese producto que prefieres no comprar, y que es más conveniente arrendar.</p>
		</div>

		<div class="que-es-img">
			<%= image_tag "ilustracion-arriendalo.png" %>
		</div>
	</div>

	<div class="payment-explained">
		<h1>Formas de pago</h1>
		<div class="payment-text">

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptatum unde consectetur provident ducimus dicta, quaerat repudiandae magni ab dolores cumque. </p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem numquam commodi earum, minima aspernatur officia inventore am reprehenderit hic illo quam. Sunt asperiores, placeat modi.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta qui sunt voluptatum repellendus! Laborum repudiandae provident assumenda, et hic, atque qui veniam voluptatum sed sint vitae doloremque tempore perferendis quasi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque reiciendis cum dolorem quasi tenetur maxime dicta, et veritatis nulla aliquam! Nihil accusantium debitis fuga, autem animi ducimus officia fugiat possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla provident similique pariatur facilis nesciunt ullam aut, rem culpa assumenda minus impedit dolorum voluptates nemo rerum laboriosam, unde blanditiis nam.</p>
		</div>

		<div class="payment-img">
			<div class="bill">
				<span class="currency-sign">$</span>
				<div class="payment-rectangle">
					<div class="triangle"></div>
					<ul class="featureList">
						<li class="tick">PAGO ASEGURADO Y CIFRADO</li>
						<li class="tick">WEBPAY Y PAYPAL HABILITADOS</li>
						<li class="tick">REDCOMPRA Y TARJETAS DE CREDITO</li>
						<li class="tick">SIN COBROS SORPRESA</li>
						<li class="tick">MOVIMIENTOS INUSUALES SON INFORMADOS</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</section>
