<section class="que-es">
	<div class="shake-hands">
		<h1>Qué es</h1>
		<div class="que-es-texto">
			<p><span class="brand-name">Teloarrendamos.cl</span> es una plataforma que te permite subir productos para poner en arriendo, o bien buscar productos para arrendar.</p>

			<p>La publicación de productos es gratis, sólo debes registrarte en nuestro sitio web y comenzar a subir productos con fotos, descripción y valor diario.</p>

			<p>Si buscas arrendar un producto, debes registrarte para que el arrendador pueda conocerte y coordinar un punto de encuentro para la entrega del producto. Tu eliges el tiempo que deseas arrendarlo y el pago se realiza a traves de nuestra plataforma. Nosotros cobramos una mínima comisión por servicio, la cual es informada junto al valor total del arriendo, previo al pago online.</p>

			<p>Nos interesa que tus cosas trabajen por ti, mientras no las utilizas o están guardadas en una bodega. Puedes ganar dinero o bien buscar ese producto que prefieres no comprar, y que es más conveniente arrendar.</p>
		</div>

		<div class="que-es-img">
			<%= image_tag "ilustracion-arriendalo.png" %>
		</div>
	</div>

	<div class="payment-explained">
		<h1>Formas de pago</h1>
		<div class="payment-text" style="height:500px;">

			<p>Por el momento el sistema no cobra comisiones a ninguna de las partes involucradas, asi que puedes coordinar con el dueño del producto el medio de pago que mas te convenga.</p>

			<p>Pronto tendremos la integracion con todos los medio de pago disponibles.</p>
		</div>

		<div class="payment-img">
			<div class="bill">
				<span class="currency-sign">$</span>
				<div class="payment-rectangle">
					<div class="triangle"></div>
					<ul class="featureList">
						<li class="tick">PAGO ASEGURADO Y CIFRADO</li>
						<li class="tick">WEBPAY Y PAYPAL HABILITADOS</li>
						<li class="tick">REDCOMPRA Y TARJETAS DE CREDITO</li>
						<li class="tick">SIN COBROS SORPRESA</li>
						<li class="tick">MOVIMIENTOS INUSUALES SON INFORMADOS</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</section>
