<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    No has añadido productos en tu carrito de arriendos, vuelve a <%= link_to "buscar productos", root_path %> y añade al carrito lo que quieras arrendar.
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', listing: order_item.listing, order_item: order_item, show_total: true %>
  <% end %>

  <div class="order-button">
    <%= button_to "Confirmar la Orden", order_confirmation_path(@order), data: { confirm: "Estas seguro?" }, class: "submit-order" %>
  </div>
<% end %>