<section class="shopping-cart">
  <%= render "shopping_cart" %>
</section>

<script>
  var cartTitles = document.getElementsByClassName('cart-titles');

  Array.prototype.forEach.call(cartTitles, function(title) {

    title.addEventListener('click', function() {
      var orderDetails = this.nextElementSibling;

      if(orderDetails.style.display === "") {
        orderDetails.style.display = "block"
      } else {
        orderDetails.style.display = "";
      }
    });
  });
</script>