<section class="company-sign-up">



  <div class="inner-container company-sign">
    <h1>Registro Empresa</h1>
    <p>Para registrarte como Empresa puedes enviarnos un correo con los datos (Razon Social, Rut, etc) a <span class="mail-sign-in"> contacto@teloarrendamos.cl</span> y un ejecutivo nuestro se contactará a la brevedad para guiarte en el proceso.</p>
  </div>

</section>
