@mixin labels {
	label {
		@include span-columns(12);
		margin: 1em 0;
	}
	input {
		@include span-columns(12);
		margin-bottom: 1em;
		height: 3em;
		border: 2px solid $letters-grey;
	}
	select {
		@include span-columns(12);
		background-color: $blue;
		border: 2px solid $letters-grey;
		height: 3em;
	}
	textarea {
		@include span-columns(12);
		height: 100px;
		border: 2px solid $letters-grey;
	}
}

section.new-listing {
	@include light-grey-gradient;
	padding-top: 3em;

	h4 {
		margin: 0;
		padding: 50px 0;
	}

	div.form-container {
		font-family: $regular;
		div.first-row {
			@include outer-container;

			div.left-column {
				@include span-columns(6);
				div.title {
					@include span-columns(9);
					@include labels;
				}

				div.rate {
					@include span-columns(3);
					@include omega();
					@include labels;
				}

				div.description {
				@include span-columns(12);
					@include labels;

				    textarea {
				    	height: 100px;
				    	margin-bottom: 1em;
				    }

				}

				div.wrapper {
					div.dropdowns {
						position: relative;

						div.region {
							@include labels;
						}

						div.category {
							@include labels;
						}
					}

					div.images {
						@include outer-container;
						margin-top: 1em;

						label {
							@include span-columns(12);
						}

						input {
							margin-top: 1em;
						}
					}

					div.submit-listing {

						input {
							width: 100%;
							background: $light-blue;
							border: 0;
							padding: 8px 30px;
							color: $white;
							font-size: 1.2em;
						}
					}
				}
			}

			div.map-container {
				@include span-columns(6);
				@include labels;

				div.map-inputs {
					input#pac-input {
						width: 100%;
						margin-top: 0;
					}
				}

				div#map {
					height: 500px;
					width: 100%;
				}
			}
		}

		div.second-row {
			@include outer-container;

			div.edit-images-container {
				@include outer-container;
				margin: 60px 0;
				div.wrapper {
					@include span-columns(3);
					  border: 1px solid grey;
    				padding: 10px;

					div.image {
						img {
							width: 100%;
						}
					}
					div.links {
						a {
							@include span-columns(6);
							text-decoration: none;
							color: $light-blue;
						}

						a:first-child {
							background: red;
					    padding: 8px;
					    text-align: center;
					    color: white;
						}

						a:last-child {
							background: $green;
					    padding: 8px;
					    text-align: center;
					    color: white;
						}
					}
				}
			}
		}

		div.third-row {
			@include outer-container;
		}
	}
}




@include media(max-width 740px) {
	section.new-listing {
		div.form-container {	
			margin: 0 10%;		
			div.first-row {
				div.left-column {
					@include span-columns(12);
					div.title {
						@include span-columns(12);
					}

					div.rate {
						@include span-columns(12);
					}

					div.description {
						@include span-columns(12);
					}

					div.wrapper {
						div.images {				
							label {
								@include span-columns(12);
							}
						}
					}
				}

				div.map-container {
					@include span-columns(12);					
					div#map {
						height: 400px;
					}
				}
			}

			div.second-row {
				@include outer-container;

				div.edit-images-container {
					@include outer-container;					
					div.wrapper {
						@include span-columns(3);
						  
						div.image {
							img {
								
							}
						}
						div.links {
							a {
								@include span-columns(6);
								
							}

							a:first-child {
								
							}

							a:last-child {
								
							}
						}
					}
				}
			}

			div.third-row {
				@include outer-container;
			}
		}
	}	
}