footer {
	@include outer-container(100%);
	background: $blue;
	color: $white;
	padding: 50px 70px;

	p {
		color: $white;
	}

	div.column {
		@include span-columns(3);
	}

	div.logo-and-social {
		div.logo {
			img {
				width: 85%;
			}
		}
		div.social-icons {
			img {
				@include span-columns(2.4);
			}
		}
	}

	div.nav-list {
		padding-left: 30px;
		ul {
		    list-style-type: none;
			margin: 0;
			padding: 0;

			 li {
			 	margin: 15px 0;
			 }
		}
	}

	div.contact {
		padding-left: 30px;
		div.politics {
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;

				li {
					margin: 15px 0;
				}
			}	
		}
		div.contact-info {
			//padding-left: 20px;

			p {
				margin-bottom: 0;
				margin: 15px 0;
			}
		}
	}
}