header {
	background: $grey;

	div.upper-blue-margin {
		height: 10px;
		background: $blue;
		width: 100%;
	}

	div.login-nav {
		div.container {
			@include shift(8);
			@include span-columns(3.5);

			div.inner-container {
				@include outer-container(100%);
				
				div.login {
					@include span-columns(6);
					background-color: $blue;
					color: $white;
					margin-right: 0;
					font-family: $regular;
					position: relative;

					div.p-container {
						padding: 0px 0 5px 0;

						p {
							margin: 0;
							color: $white;
							text-align: center;
	    					padding: 5px 0 5px 0;
						}	
					}

					ul {
						background: $blue;
						padding-left: 0;
						list-style-type: none;
						display: none;
						position: absolute;
    					width: 100%;
					}	
				}

				div.sign-up {
					@include span-columns(6);
					background-color: $blue;
					color: $white;
					font-family: $regular;
					position: relative;

					div.p-container {
						padding: 0px 0 5px 0;
						
						p {
							margin: 0;
							text-align: center;
							color: $white;
							border-left: 2px solid white;
	    					padding: 5px 0 5px 0;
						}	
					}
					
					ul {
						background: $blue;
						padding-left: 0;
						list-style-type: none;
						display: none;
						position: absolute;
    					width: 100%;

					}	
				}
			}
		}
	}

	nav {
		@include outer-container();

		div.logo {
			@include span-columns(4);

			a {
				img {
					width: 85%;
				}
			}
		}

		ul {
			@include span-columns(8);
			padding-left: 0;
			color: $blue;
			margin-top: 30px;
			font-family: $light;
			
			li.que-es {
				width: 15%;
			}

			li {
				@include span-columns(3);
				margin-right: 0;
			}
		}
	}
}