header {
	div.upper-blue-margin {
		height: 10px;
		background: $blue;
		width: 100%;
	}

	div.login-nav {
		@include outer-container;
		div.container {
			@include shift(8.5);
			@include span-columns(3.5);

			div.inner-container {
				@include outer-container(100%);

				div.login {
					@include span-columns(6);
					@include login-nav;
					margin-right: 0;
				}

				div.sign-up {
					@include span-columns(6);
					@include login-nav;
					div.p-container {
						p {
							border-left: 2px solid white;
						}
					}
				}
			}
		}
	}

	div.login-nav-user {
		@include outer-container;
		div.container {
			@include shift(5);
			@include span-columns(7);

			div.inner-container {
				@include outer-container(100%);

				div.hello-user {
					@include span-columns(4);
					@include login-nav;
				}

				div.account {
					@include span-columns(4);
					@include login-nav;
				}

				div.sign-out {
					@include span-columns(4);
					@include login-nav;
				}
			}
		}
	}


	nav {
		@include outer-container();

		div.logo {
			@include span-columns(4);

			a {
				img {
					width: 85%;
				}
			}
		}

		div.nav-div {
			@include span-columns(8);

			ul {
				@include outer-container(100%);
				padding-left: 0;
				margin-top: 30px;
				font-family: $light;

				li {
					@include span-columns(3);
					text-align: center;
					a {
						text-decoration: none;
						color: $blue;
					}

					a:hover {
						color: $light-blue;
					}
				}
			}
		}
	}
}



// @include media(max-width 740px) {
// 	header {
// 		nav {
// 			div.logo {
// 				@include span-columns(12);
// 				text-align: center;
// 			}

// 			div.nav-div {
// 				display: none;
// 			}
// 		}
// 	}
// }