@mixin target-customers-index {
	@include span-columns(6);
	padding: 50px;
	border-left: 1px solid black;

	p {
		margin: 25px 0;
	}
	
	button {
		background: $blue;
		border: 0;
		padding: 8px 19px;
	}	
}

@mixin grey-gradient {
	background: rgb(35,83,138); /* Old browsers */
	background: -moz-linear-gradient(top,  $grey 20%, transparent 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  $grey 20%,transparent 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  $grey 20%,transparent 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23538a', endColorstr=transparent,GradientType=0 ); /* IE6-9 */
}