<section class="categories-index">
	<div class="wrapper">
	<% @categories.each do |category| %>
		<div class="category-frame">
			<div class="image">
				<%= link_to image_tag(category.category_image), listing_category_path(category.id) %>	
			</div>
			<div class="name">
				<%= link_to category.name.upcase, listing_category_path(category.id) %>	
			</div>
		</div>
	<% end %>		
	</div>
</section>
