section.user-login {
	height: 100%;
	margin: 0 25%;

	h2, p {
		text-align: center;
	}
	
	form {
		div.field {
			margin: 0 25%;
			input {
				width: 100%;
			}
		}

		div.actions {
			margin: 0 25%;
			input {
				width: 100%;
			}	
		}
	}

	div.login-options {
		padding: 20px 87px;
		text-align: center;
	}

	div.sign-up-callout {
		text-align: center;
		padding: 20px 87px;
	}
}