<%= image_tag "https://s3-us-west-2.amazonaws.com/teloarrendamos-static-assets/logos/logo-transparente.png" %>
    <div style="background:#1191B9;padding:12px;">
      <h1 style="color:white;margin:0">Hola <%= @email %>!, Bienvenido(a) a nuestra plataforma de arriendos colaborativos.</h1>
    </div>

    <div>
      <p style="color:grey;font-size:1.3em;">Puedes confirmar tu cuenta siguiendo el siguiente link:</p>

      <p style="color:#00C0FF;font-size:1.3em;"><%= link_to 'Confirmar cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
    </div>

