<p>Hola <%= @resource.email %>!</p>

<p>Alguien a solicitado un link para cambiar la contraseña. Puedes hacerlo desde el siguiente link</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste esto, porfavor ignora este link.</p>
<p>Tu contraseña no cambiara hasta que sigas el link que se presenta mas arriba.</p>
